.cuadrado {
	border:2px dashed gray;
	height:350px;
	position:relative;
	width:180px;   
	background-color:black;
}
.circulo1{
	background:red;
	border-radius:100%;
	height:80px;
	position:absolute;
	width:80px;    
	left:50px;
	top:20px ; 
	opacity: 0.3;
}

.circulo2{
	background:yellow;
	border-radius:100%;
	height:80px;
	position:absolute;
	width:80px;  
	left:50px ;
	top:120px ; 
	opacity: 0.3; 
}

.circulo3{
	background:green;
	border-radius:100%;
	height:80px;
	position:absolute;
	width:80px;   
	left:50px ;
	top:220px ;  
	opacity: 0.3;
}


