.cuadrado{
	border: solid black;
	width: 678px;
	height: 678px;

}

.casilla1{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla2{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla3{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla4{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla5{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla6{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla7{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla8{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}

.casilla9{
	border: solid black;
	width: 214px;
	height: 214px;
	float: left;

}


